{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_user_index') }}">Utilisateurs</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Nouvel utilisateur</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="card-title mb-0">
                        <i class="fas fa-user-plus me-2"></i>Créer un nouvel utilisateur
                    </h5>
                </div>
                <div class="card-body">
                    {{ include('user/_form.html.twig', {'button_label': 'Créer'}) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 